[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
--name=etcd3 \
--data-dir=/var/lib/etcd/default.etcd \
--listen-peer-urls=https://10.129.55.155:2380 \
--listen-client-urls=https://10.129.55.155:2379,http://10.129.55.155:2390,http://127.0.0.1:2379 \
--advertise-client-urls=https://10.129.55.155:2379 \
--initial-advertise-peer-urls=https://10.129.55.155:2380 \
--initial-cluster=etcd1=https://10.129.55.61:2380,etcd2=https://10.129.55.65:2380,etcd3=https://10.129.55.155:2380 \
--initial-cluster-token=etcd-cluster \
--initial-cluster-state=new \
--cert-file=/etc/etcd/ssl/etcd.pem \
--key-file=/etc/etcd/ssl/etcd-key.pem \
--peer-cert-file=/etc/etcd/ssl/etcd.pem \
--peer-key-file=/etc/etcd/ssl/etcd-key.pem \
--trusted-ca-file=/etc/etcd/ssl/etcd-root-ca.pem \
--peer-trusted-ca-file=/etc/etcd/ssl/etcd-root-ca.pem
Restart=on-failure
LimitNOFILE=65536
